In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [48]:
movie_df = pd.read_csv('movie_data.csv')

In [49]:
movie_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [50]:
movie_df

,movie_id,movie_title,mpaa_rating,runtime,genre,star_rating,gross_revenue,budget
0,tt6751668,Parasite,R,132 min,"Comedy, Drama, Thriller",8.6,201055038.0,11363000.0
1,tt8946378,Knives Out,PG-13,131 min,"Comedy, Crime, Drama",8.0,163700000.0,40000000.0
2,tt2584384,Jojo Rabbit,PG-13,108 min,"Comedy, Drama, War",8.0,82468705.0,14000000.0
3,tt8579674,1917,R,119 min,"Drama, War",8.4,200483309.0,100000000.0
4,tt8367814,The Gentlemen,R,113 min,"Action, Comedy, Crime",8.1,48441089.0,18400000.0
...,...,...,...,...,...,...,...,...
9995,tt1533817,Stomp the Yard 2: Homecoming,PG-13,89 min,"Drama, Music",4.2,0.0,0.0
9996,tt5258904,B&B,TV-MA,87 min,Thriller,5.3,0.0,1000000.0
9997,tt2585736,American Bistro,TV-MA,94 min,"Adventure, Comedy, Drama",7.1,0.0,0.0
9998,tt2015315,Poo-reun so-geum,Not Rated,122 min,"Action, Drama",6.4,0.0,0.0
9999,tt3257794,Music Teacher,NaN,101 min,Drama,6.4,0.0,0.0

In [51]:
#filling all NA's as 0 to then change series to an integer
movie_df['runtime'].fillna(0, inplace=True)

In [52]:
#cleaning runtime column to just show minutes as integer
movie_df['runtime'] = movie_df['runtime'].astype(str)

In [53]:
movie_df['runtime'] = movie_df['runtime'].apply(lambda x: x.rstrip(' min'))

In [54]:
movie_df['runtime'] = movie_df['runtime'].astype(int)

In [58]:
movie_df['star_rating'].isnull().sum()

45

In [59]:
#clean all NAs for star rating to be 0.0, data type -- float
movie_df['star_rating'].fillna(0.0, inplace=True)

In [60]:
movie_df['star_rating'] = movie_df['star_rating'].astype(float)

In [61]:
movie_df['mpaa_rating'].fillna("Not Rated", inplace=True)

In [62]:
movie_df['genre'].fillna("No Genre", inplace=True)

In [63]:
movie_df['gross_revenue'].fillna(0, inplace=True)

In [67]:
movie_df['budget'].fillna(0, inplace=True)

In [72]:
#pie chart showing how many movies belonged to which genre
genre_list = []
for genres in movie_df['genre']:
    genre_list.extend(genre.strip() for genre in genres.split(','))
    genre_dict = {}
    for genre in genre_list:
        if genre in genre_dict:
            genre_dict[genre] += 1
        else:
            genre_dict[genre] = 1
print(genre_dict)

{'Comedy': 2906, 'Drama': 5704, 'Thriller': 2046, 'Crime': 1293, 'War': 156, 'Action': 2009, 'Biography': 553, 'Adventure': 1047, 'History': 346, 'Horror': 1529, 'Mystery': 811, 'Animation': 400, 'Romance': 1442, 'Fantasy': 551, 'Sci-Fi': 581, 'Music': 202, 'Family': 380, 'Western': 72, 'Musical': 70, 'Sport': 145, 'Adult': 1, 'Game-Show': 1, 'No Genre': 3}

In [78]:
len(list(genre_dict.keys()))

23

In [88]:
#bar graph to represent

In [90]:
movie_df['star_rating'].mean()

5.956549999999996

In [91]:
movie_df['star_rating'].median()

6.1

In [92]:
#display all genres for movies that are considered 'top rated' by users
#to be top rated, you must have a star rating of 1.25 times the mean for all star ratings

df_highest_rated = movie_df[movie_df['star_rating']>movie_df['star_rating'].mean()*1.25]

,movie_id,movie_title,mpaa_rating,runtime,genre,star_rating,gross_revenue,budget
0,tt6751668,Parasite,R,132,"Comedy, Drama, Thriller",8.6,201055038.0,11363000.0
1,tt8946378,Knives Out,PG-13,131,"Comedy, Crime, Drama",8.0,163700000.0,40000000.0
2,tt2584384,Jojo Rabbit,PG-13,108,"Comedy, Drama, War",8.0,82468705.0,14000000.0
3,tt8579674,1917,R,119,"Drama, War",8.4,200483309.0,100000000.0
4,tt8367814,The Gentlemen,R,113,"Action, Comedy, Crime",8.1,48441089.0,18400000.0
...,...,...,...,...,...,...,...,...
9904,tt9313424,From the Vine,Not Rated,97,Drama,7.9,0.0,0.0
9928,tt2258058,High & Outside: A Baseball Noir,Not Rated,98,"Drama, Sport",8.2,0.0,0.0
9931,tt6862538,Yellow Rose,Not Rated,0,"Drama, Music",8.0,0.0,0.0
9936,tt2311530,Lost Angelas,Not Rated,88,"Mystery, Thriller",8.8,0.0,0.0
9950,tt5371090,Hold On,PG-13,106,Drama,8.0,0.0,0.0

In [94]:
top_rated_genre_list = []
for genres in df_highest_rated['genre']:
    top_rated_genre_list.extend(genre.strip() for genre in genres.split(','))
    genre_dict = {}
    for genre in top_rated_genre_list:
        if genre in genre_dict:
            genre_dict[genre] += 1
        else:
            genre_dict[genre] = 1
#print(genre_dict)

{'Comedy': 211, 'Drama': 672, 'Thriller': 140, 'Crime': 135, 'War': 22, 'Action': 197, 'Biography': 83, 'Romance': 124, 'History': 41, 'Fantasy': 42, 'Horror': 36, 'Sci-Fi': 34, 'Adventure': 115, 'Animation': 85, 'Mystery': 61, 'Music': 23, 'Musical': 19, 'Western': 2, 'Sport': 18, 'Family': 40, 'No Genre': 1}